<html>
<head>
<%- include('./inc/_header') %>      

  
</head>
<body>

<%- include('./inc/_body.ejs') %>        


<h1>Burası About Kısmı</h1>
  
</body>
  
<style>
h1{
    color: white;
}

</style>
  
</html>