<html>
<head>
<%- include('./inc/_header') %>      
  
</head>
<body>
      
<%- include('./inc/_body.ejs') %>      x

<div style="text-align: center;">
	<img class="logo" src="https://c.tenor.com/_mOzJuopBkUAAAAC/demon-slayer-kimetsu-no-yaiba.gif"/>
    <p>
Dank Memer is a bot that brings some great perks to your Discord server!  <br/>
<br/>
<br/>
Increased server engagement<br/>
<br/>
A selling point while advertising your server (Tens of millions of users know and use Dank Memer!)<br/>
<br/>
A partnership program available to servers who actively use Dank Memer, where we bring our users to you!<br/>
<br/>
It might make you wonder, what's the big deal with Dank Memer? Why do so many users love it?<br/>
<br/>

      
    </p>
  
</div>div>


<style>
img.logo {
  margin-top: 150px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

  p{
    margin-top: 16px;
    font-size: 16px;
    color: white;
  }

  
</style>
  
      
</body>



  
  
</html>